body {
    font-family: sans-serif;
    background-color: #e4e4e4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ff4500;
    margin-top: 20px;
}

header {
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

h1 {
    font-size: 40px;
}



nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 2px #ff4500;
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ff4500;
    width: calc(100% - 22px);
    border-radius: 10px;
}

input[type="file"] {
    margin-bottom: 10px; 
}

button {
    padding: 10px 20px;
    background-color: #797979;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #ff4500;
}

a{
    color: #ff4500;
}
#anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.anime-card {
    box-shadow: 0 2px 4px 2px #ff4500;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.anime-card h3 {
    color: #ffffff;
    text-align: center;
    background-color: #ff4500;
    padding: 10px;
    border-radius: 10px;
}

.anime-card p {
    color: #666;
}

.anime-card img {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto; 
    border-radius: 20px;
}

.edit-btn, .delete-btn {
    background-color: #797979;
    color: white;
    border: none;
    padding: 5px 10px;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #ff4500;
}

